:root{
    --clr-primary: hsl(158, 36%, 37%);
    --clr-bg: hsl(30, 38%, 92%);

    --clr-product-name: hsl(212, 21%, 14%);
    --clr-product-p: hsl(228, 12%, 48%);
    --clr-label-bg: hsl(0, 0%, 100%);

    --fs-p: 14px;

    --ff-p: 'Montserrat', sans-serif;
    --ff-product-name: 'Fraunces', serif; 

    --fw-regular: 500;
    --fw-bold: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
}

body{
    background-color: var(--clr-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    height: 500px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
}

.product-img,
.product-label{
    height: 100%;
    width: 50%;
}

.product-img{
    background-image: url(/images/image-product-desktop.jpg);
    background-size: cover;
}

.product-label{
    background-color: var(--clr-label-bg);
    padding: 35px;
    font-family: var(--ff-p);
    font-weight: var(--fw-regular);
    font-size: var(--fs-p);
    color: var(--clr-product-p);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.product-name{
    color: var(--clr-product-name);
    font-family: var(--ff-product-name);
    font-weight: var(--fw-bold);
    font-size: 40px;
    line-height: 2.5rem;
}

.product-description{
    line-height: 1.5rem;
    font-size: 16px;
}

.product-price{
    width: 100%;
    display: flex;
}

.saled-price{
    color: var(--clr-primary);
    font-family: var(--ff-product-name);
    font-weight: var(--fw-bold);
    font-size: 40px;
}

.original-price{
    text-decoration: line-through;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.add-to-cart,
.add-to-cart a{
    width: 100%;
    height: 55px;
}

.add-to-cart{
    position: relative;
}

.add-to-cart a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-primary);
    color: var(--clr-label-bg);
    font-weight: var(--fw-bold);
    font-family: var(--ff-p);
    border-radius: 10px;
}

.add-to-cart a:hover{
    background-color: hsl(156, 42%, 18%);
}

.add-to-cart img{
    position: absolute;
    top: 50%;
    left: 27%;
    transform: translate(0, -50%);
}

@media screen and  (max-width: 760px){
    .main-container{
        height: 90%;
        width: 90%;
        flex-direction: column;
        overflow: scroll;
    }

    .product-img,
    .product-label{
        height: 50%;
        width: 100%;
    }

    .product-img{
        background-image: url(/images/image-product-mobile.jpg);
        background-position: center;
    }

    .product-label{
        padding: 30px;
    }

    .product-name{
        font-size: 35px;
    }

    .product-description{
        font-size: 14.8px;
    }
}